<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <div class="container mt-3">
        <%- include('../partials/formulario'); %>
        <%- include('../partials/historico'); %>
        <a href="/productos" class="btn btn-success mt-3 mb-5 btn-block">Ir a lista de productos</a>
    </div>
</body>
</html>