<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <div class="container mt-3">
        <%- include('../partials/historico'); %>
        <a href="/" class="btn btn-success mt-3 mb-5 btn-block">Volver a formulario de productos</a>
    </div>
</body>
</html>


