div(class="jumbotron")
    h1(style="color: blue;") Ingrese datos
    br
    form(action="/productos" method="post")
        div(class="form-group")
            label(for="nombre")
                b Nombre
            input(id="nombre" class="form-control" name="nombre" type="text")
        div(class="form-group")
            label(for="precio")
                b Precio
            input(id="precio" class="form-control" name="precio" type="number")
        div(class="form-group")
            label(for="foto")
                b Foto URL
            input(id="foto" class="form-control" name="foto" type="text")
        button(class="btn btn-success mt-3 mb-5 btn-block") Enviar